.c-contact-tel {
  background-color: $color-blue-sparkly;
  border-radius: 4px;
  padding: 2.4rem;
  color: $color-black;
  font-weight: 300;

  margin-bottom: 2rem;

  &__img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: $color-white;
    margin-bottom: 2.4rem;
  }
  &__msg {
    margin-bottom: 2rem;
  }
}
