/// colors
$color-blue-dark: #0067c7;
$color-blue-primary: #007ef3;
$color-blue-sparkly: #dff0ff;

$color-white: #ffff;

$color-black: #000000;

$color-grey: #616161;
$color-grey-100: #f7f7f7;
$color-grey-light: #cbcbcb;

//fonts
$font-normal: "Roboto", sans-serif;
